* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.timeline {
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  width: 100%;
}

.timeline .event {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  min-width: 10%;
  text-align: center;
}

.timeline .year {
  color: #0057b7;
  font-size: larger;
  font-weight: 700;
}

.timeline p {
  color: white;
  max-width: 120px;
  overflow-x: auto;
}

.timeline img {
  border: 2px solid #0057b7;
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
  width: 100px;
}
